/************************************ RESET ************************************************/
* {margin: 0; padding: 0; border: 0; outline: 0; list-style: none; text-decoration: none; box-sizing: border-box;}
body {display: block; position: relative; width: 1200px; max-width: 90%; margin: 0 auto; overflow-x: hidden;}
body {font-family: 'Muli', sans-serif; font-size: medium; background: #fff; color: #233441; line-height: 150%}
img {max-width: 100%; height: auto;}



/************************************ iFrames ************************************************/
.embed-container { position: relative; padding-bottom: 56.25%; /* 16/9 ratio */ padding-top: 10px; /* IE6 workaround*/ height: 0; overflow: hidden;}
.embed-container iframe,
.embed-container object,
.embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}


    
/************************************ ESTRUCTURA ************************************************/
.columnas {display: flex; margin: 0 -15px;}
.columna {flex: 1 1 auto; padding: 0 15px;}
.columna-25 {width: 25%;}
.columna-50 {width: 50%;}
.columna-33 {width: 33.3333%;}
.columna-66 {width: 66.6666%;}
.columna-75 {width: 75%;}
.columnas-invertido {flex-direction: row-reverse;}

.patrocinadores{display: flex; flex-wrap: wrap; max-width: 860px; justify-content: center; margin: 0 auto;}
.patrocinadores li{display: inline-block; flex: 25%; max-width: 25%; padding: 5px 10px;}
.patrocinadores.colaboradores li{flex: 20%; max-width: 20%;}
.patrocinadores li img{width: 100%; transition: transform 0.2s ease}
.patrocinadores li:hover img{transform: scale(0.98);}
.patrocinadores + small {border-top: 1px solid aliceblue; padding-top: 30px;}

section{position:relative; padding: 90px 0; display: flex; justify-content: center; flex-direction: column}
.diapo{min-height: 100vh}
.diapo-peq{padding: 75px 0}
.centrado-vertical{align-items: center;}

.espacio-s {display: block;padding-top: 8px;}
.espacio-m {display: block;padding-top: 16px;}
.espacio-l {display: block;padding-top: 32px;}
.espacio-xl {display: block;padding-top: 64px;}

.fullwidth {padding-left: calc(50vw - 50%); padding-right: calc(50vw - 50%); margin-left: calc(-50vw + 50%); margin-right: calc(-50vw + 50%);}
.franja-blanca{background-color: #fff; position: relative;}
.franja-blanca::before, .franja-blanca::after{content: ""; background-image: url(img/flecos.svg); display: block; background-repeat-y: no-repeat; width: 100vw; height: 16px; position: absolute; left: 0;}
.franja-blanca::before{top: -16px;}
.franja-blanca::after{bottom: -16px;}

.cuerpo {background-color: #FF6194; color: #fff}

@keyframes animation-barrido-derecha{
	0%   {background-position: 0;}
    100% {background-position: 600px;}
}

.barrido-derecha, .barrido-derecha::before, .barrido-derecha::after{
	animation: animation-barrido-derecha 60s linear;
    animation-iteration-count: infinite;
	animation-fill-mode: forwards; /* El css se queda en el último frame de la animación*/
}

@keyframes animation_fadeIn{
	0%   {transform: translateY(32px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}

.fade-in{opacity: 0; animation: animation_fadeIn 1s ease 0.5s; 	animation-fill-mode: forwards; }

.video {width: 100%; max-width: 615px; display: block; margin: 0 auto; transform: translateY(-300px); margin-bottom: -300px}

p{padding-bottom: 18px; max-width: 32rem;}

a{color: inherit; text-decoration: underline; transition: all 0.2s ease}
a:hover{opacity: 0.8;}

.post-it{background: #54E0DB; width: 100%; min-height: 75%; box-shadow: 2px 2px 8px 0 #CCD7DE; padding: 1rem;}
.post-it ul{padding: 0.5rem 1rem; padding-bottom: 1.2rem;}
.post-it li {padding-left: 10px;}

/*
.marco-foto{ box-shadow: inset 0 0 0 12px #FF6194; transform: translate(32px, 28px); max-width:520px}
.marco-foto img{margin: 0; padding: 0;transform: translate(-32px, -28px);}
.marco-foto-alt{transform: translate(-32px, 28px);}
.marco-foto-alt img{transform: translate(32px,-28px);}*/

.copyright{display: block; text-align: left; position: absolute; bottom: 50%; right: 5px; transform-origin: 50%; transform:rotate(90deg);} 



/************************************ TEXTO ************************************************/
h1,h2,h3,h4,h5, .malagajam legend{font-family: 'Muli', sans-serif; font-weight: bold;}

h1{font-size: 64px; line-height: 120%}
h2{font-size: larger; padding: 18px 0;}
h2{font-size: larger; padding: 18px 0;}
h3, .malagajam legend{font-size: medium; text-transform: uppercase}
.h2-peq{font-size: larger; font-weight: normal; font-family: 'Muli', sans-serif; }
.h2-big{font-size: xx-large;}
.page h3 {padding: 30px 0 15px}

.icono {width: 24px; height: 24px; transform: translateY(6px); display: inline-block; background-size: contain; padding: 2px; margin-right: 5px; line-height: inherit;}
.ico-fecha{background-image: url("img/ico-fecha.svg");}
.ico-lugar{background-image: url("img/ico-lugar.svg");}

.texto-blanco{color:#fff;}

.boton{display: inline-block; margin-top: 24px; text-transform: uppercase; font-size: 16px; text-align: center; padding: 16px 40px; border-radius: 12px; color: #fff; text-decoration: none; border: 2px solid #FF6194; font-weight: bolder; transition: all 0.2s ease;}
.boton:hover{ opacity: 1; background: #FF73A0; transform: translateY(-4px);}

.cuenta-atras{padding: 120px 0 180px 0; text-align: center}
#cuenta-atras {display: block; text-align: center; padding: 45px 0}
#cuenta-atras li{min-width: 8rem; padding: 0 30px;display:inline-block; font-size: xx-large; font-family: 'Muli', sans-serif;}
#cuenta-atras li:last-child{color: #54E0DB}

.horario b{padding-right: 15px}
.horario ul{padding-top: 0.5rem; padding-bottom: 1rem; margin-bottom: 1rem;}
.horario li{display: flex; padding-right: 0.5rem; padding-bottom: 0.5rem;}

.regular-ul {padding-left: 2rem; padding-bottom: 1rem;}
.regular-ul li{list-style: square}

small{color: #a6b7c2}



/************************************ HEADER ************************************************/

header {position: absolute; top: 16px; right: 16px;}
.cabecera {background: #233441; }
.cabecera > div{padding: 16px;}

nav {position:absolute; top: 0; right: 5vmax; padding: 30px 0; display: flex; justify-content: space-between; align-items: flex-end;}
nav ul li {display: inline-block; padding-left: 45px}

#main header{position: relative; padding: 5vmax 0;}
#printer-friendly {display: none;}

/************************************ FOOTER ************************************************/
footer{padding: 60px; padding-bottom: 90px; background-color: #233441; margin-top: 60px;}
footer a, nav a{ font-weight: 800; font-size: 14px; text-transform: uppercase; color: #FF6194; text-decoration: none; }
footer svg{ fill: #FF6194}
footer .separador svg { color: #54E0DB}
footer ul {justify-content: space-between;}
footer ul, .datos-evento {display: flex; align-items: center; }
.datos-evento  {padding-top: 16px;}
.datos-evento  li:first-child {padding-right: 32px;}

.entry-footer {display: none;}
.malagajam #civicrm-footer {border: none; transform: scale(0.6); transform-origin: right center;}




/************************************ CiviCRM ************************************************/
.malagajam .crm-container .crm-section .label{text-align: left;}
.malagajam .crm-container .help, .malagajam .crm-container #help, .malagajam .crm-container .status{background-color: #fbdca8; border: none; margin: 15px 0 30px; padding: 8px 12px; font-size: small; color: #222;}
.malagajam .select2-container .select2-choice { filter: none; background-image: none; height: 32px; background-color: #fff; padding: 4px 8px; }
.malagajam .crm-container fieldset { border-top: none; }
.malagajam .crm-container fieldset legend { font-family: "Muli", sans-serif;  font-size: medium; color: auto; }
.malagajam #crm-container.crm-public input[type="text"],.malagajam  #crm-container.crm-public input[type="password"],.malagajam  #crm-container.crm-public input[type="email"],.malagajam  #crm-container.crm-public select {
	max-width: auto; padding: 8px 12px; width: calc(100% - 24px); box-shadow: none; margin-bottom: 12px;}
.malagajam #crm-container.crm-public .calc-value, .malagajam #crm-container.crm-public .content { margin-left: 0;}

.malagajam .crm-container .crm-button.crm-i-button input.crm-form-submit{
	font-size: 1rem; color: #fff; text-shadow: none; padding: 0; text-transform: uppercase; font-weight: bold;
}

.malagajam.crm-container a.button,
.malagajam .crm-container a.button:visited,
.malagajam .crm-container a.button:link,
.malagajam .crm-container .ui-dialog-buttonset .ui-button,
.malagajam .crm-container input[type=button],
.malagajam .crm-container .crm-button {
	background: none;
	  border: none;
	  border-radius: 4px;
  	background-color: #FF6194;
	  padding: 12px 22px !important;
	  font-size: 1rem; color: #fff; text-shadow: none;
}

.malagajam .crm-container a, .crm-container a:link, .crm-container a:visited {color: #233441 !important; font-weight: bold;}

.malagajam .crm-i-button > .crm-i {position: static;}

.malagajam .crm-container .crm-error {padding: 12px; }
.malagajam .crm-container .crm-error ul {padding-left: 1.5rem;}
.malagajam .crm-container .crm-error li {list-style: circle; padding: 6px 0;}

.malagajam .select2-container{width: 100% !important; min-width: 200px !important;}

.malagajam .form-item, .malagajam .crm-section.entrada-section {display: flex; align-content: center}
.malagajam .crm-container .crm-section .label {width: auto; min-width: 150px;}
.malagajam .crm-container .crm-section .content {max-width: 25rem;}
.malagajam .crm-container.crm-public .select2-container-multi .select2-choices {
	width: 220px;
  }
.malagajam  .description {
	padding: 15px 0 30px 0;
	display: block;
   }
   

   .malagajam .crm-container .help, .malagajam .crm-container #help, .malagajam .crm-container .status, .malagajam .crm-container  .description{
	background-color: transparent;
	padding: 0;
	margin: 5px 0 10px 0;
	opacity: 0.5;
	font-size: 14px;
	font-style: italic;
	line-height: 150%;
   }
   
  .malagajam #crm-container.crm-public select {margin-top: 15px;}
  .malagajam .crm-container  .description {padding: 15px 0 45px; }
   .malagajam .entry-content #register .crm-event-register-form-block > * {margin-bottom: 45px;}
 .malagajam .entry-content {max-width: 800px;}

 .malagajam #pricevalue { margin-left: 15px !important; font-weight: bold; display: inline-block; }

.malagajam #crm-container.crm-public  #pricesetTotal { margin: 15px 0 30px 0; }   
   
.visible-xs { display: none; visibility: hidden; }

/****************************** MEDIA QUERIES ******************************/
@media all and (max-width: 992px){ /* TABLET */

	.horario .columna {width: 33.333% !important;}
	.horario ul {border-right: 1px solid #dadada}
	.horario .columna:last-child ul {border-right: none}
	.invertidas {flex-direction: row;}
	.post-it{display: flex; padding: 1.2rem 2rem; margin:2rem 0;}
	.post-it > div {flex: 50%}
	h1 {font-size: 54px;}
	
	/*.marco-foto{width: 80vw; margin: 10vw auto;}*/
	
	*[name="patrocinadores"] small {padding-bottom: 30px;}
	.patrocinadores li, .patrocinadores.colaboradores li{flex: 33.3333%; max-width: 33.333%;}
	.patrocinadores{ justify-content: center;}
	iframe{margin-top: 30px;}
	
}
@media all and (max-width: 767px){ /* MOBILE */
	.hidden-xs { display: none; visibility: hidden; }
	.visible-xs { display: initial; visibility: visible; }
	.columnas {flex-wrap: wrap;}
	.columna {width: 100% !important;}
	.columna, .horario .columna {width: 100% !important;}
	.columna-25 {width: 50% !important;}
	nav {flex-direction: column; align-items: center; font-size: small; text-align: center;}
	nav ul {padding-top: 1rem;}
	nav ul li{padding: 0 1rem;}
	h1 {font-size: 48px;}
	footer img{width: 22px;}
	.diapo{padding: 20px 0}
	.diapo-peq{padding: 30px 0}
	.backimg{background-size: cover;}
	.cabecera img {max-height: 465px; display: block; margin: 0 auto;}
	.boton{width:100%; }
	.datos-evento {justify-content: space-between; padding: 0 10px;}

	/*.marco-foto{ transform: translate(24px, 28px);}
	.marco-foto-alt{ transform: translate(-24px, 28px);}*/
	
	.post-it{flex-direction: column; }
	.horario ul {border:none; border-bottom: 1px solid #dadada}
	.horario .columna:last-child ul {border-bottom: none}
	#cuenta-atras li {min-width: 4rem; padding: 0 15px; font-size: x-large}
	.patrocinadores li, .patrocinadores.colaboradores li{flex: 50%; max-width: 50%;}
	.video {transform: translateY(-240px); margin-bottom: -240px}

	.malagajam .entry-content #register .crm-event-register-form-block > * {margin-bottom: 30px;}
	.malagajam .crm-container span.crm-button {float: right !important;}
	.malagajam .form-item, .malagajam .crm-section.entrada-section {display: initial;}
	.malagajam .crm-container .crm-section .label, .malagajam #crm-container.crm-public .calc-value, .malagajam #crm-container.crm-public .content { width: 100% }
}
