---
layout: default
---
<article id="main">

  <header 
	{% if page.headerImage %} 
		style="background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/{{ page.headerImage }});
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/{{ page.headerImage }});
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/{{ page.headerImage }});
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/{{ page.headerImage }}););" 
	{% endif %}>
    <h2>{{ page.title }}</h2>
    <p>{{ page.subtitle }}</p>
	{% if page.buttonUrl and page.buttonText %}
	<ul class="actions">
		<li><a href="{{ page.buttonUrl }}" class="button special">{{ page.buttonText }}</a></li>
	</ul>
	{% endif %}
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

</article>
